@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.main-nav {
    background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
    4px 4px 5px 0px #1a00221a;
    height: 80px;
    width: 100%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.25);
    line-height: 80px;
    font-size: 2.2rem;
    text-decoration: none;
    margin-left: 40px;
}

.ul_display {
    list-style: none;
    float: right;
    line-height: 80px;
    margin: 0;
    padding: 0;
}

.text_link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
    text-decoration: none;
    line-height: 80px;
}

.li_display {
    display: inline-block;
    margin: 0px 55px;
}

.li_display a:hover {
    margin: 0px -30px;
    padding: 30px;
    /* background-color: #f477ff;
    color: #6111a1; */
    background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
    color: #f477ff;
    border-bottom: none;
    /* border-bottom: 5px solid #f477ff; */
    width: 100%;
}

/* a[href='#'] {
    margin: 0px -30px;
    padding: 30px;
    transition: all 0.1s linear 0s; */
    /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%); */
    /* color: #f477ff; */
    /* border-bottom: 5px solid #f477ff; */
/*     text-decoration: underline;
    text-decoration-color: #f477ff;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 25%; */
/*     max-width: 100%;
} */

#check {
    display: none;
}

.menu-btn {
    font-size: 2rem;
    color: #f477ff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

main {
    display: block;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.left {
    display: inline-block;
    width: 50%;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
}

.right {
    display: inline-block;
    align-self: right;
    padding: 5%;
}

h1 {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    /* margin-top: -2%; */
    margin-bottom: 1%;
}

h2 {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #8b48c2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.15rem;
    margin-bottom: 5%;
}

hr {
    display: inline-block;
    position: relative;
    align-self: left;
    border: 0;
    height: 1px;
    background: #202020;
    background-image: linear-gradient(to right, #ccc, #202020, #ccc);
    width: 70%;
}

.quotes {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #8d8d8d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: italic;
    margin: 1.5%;
}

/* img {
    display: inline-block;
    position: relative;
    align-self: left;
    width: 10rem;
    height: auto;
    margin-top: -2%;
    margin-bottom: -2%;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation-fill-mode: forwards !important;
}
    
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
} */

.my-logo img {
    display: inline-block;
    position: relative;
    align-self: left;
    width: 9rem;
    height: auto;
    margin-top: -2%;
    margin-bottom: -2%;
    animation-name: fadeIn, wiggle;
    animation-timing-function: ease-in, ease-out;
    animation-duration: 2s, 1.5s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, 1;
    animation-play-state: running, running !important;
    animation-fill-mode: initial;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;} 
}

.my-logo img:before {
    cursor: pointer;
    animation-name: fadeIn, wiggle;
    animation-timing-function: ease-in, ease-in;
    animation-duration: 2s, 1.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, infinite;
    animation-play-state: paused, paused !important;
    animation-fill-mode: both, both;
}

.my-logo img:hover {
    cursor: pointer;
    animation-name: fadeIn, wiggle;
    animation-timing-function: ease-in, ease-in;
    animation-duration: 2s, 1.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, infinite;
    animation-play-state: paused, running !important;
    animation-fill-mode: both, both;
}

.my-logo img:hover::after {
    cursor: pointer;
    animation-name: fadeIn, wiggle;
    animation-timing-function: ease-in, ease-in;
    animation-duration: 2s, 1.5s;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-play-state: paused, running !important;
    animation-fill-mode: both, both;
}

@keyframes wiggle {
	0% {
    opacity: 1;
		transform: scale(1);
	}
	10% {
    opacity: 1;
		transform: scale(0.8);
	}
	15% {
		transform: scale(1);
    opacity: 1;
	}
	20% {
		transform: scale(1) rotate(-5deg);
    opacity: 1;
	}
	25% {
		transform: scale(1) rotate(5deg);
    opacity: 1;
	}
	30% {
		transform: scale(1) rotate(-3deg);
    opacity: 1;
	}
	35% {
		transform: scale(1) rotate(2deg);
    opacity: 1;
	}
	40% {
		transform: scale(1);
  }
}

.name {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0.5%;
    top: initial;
    bottom: auto;
    left: auto;
    right: auto;
}

.profession {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #8b48c2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.05rem;
    font-style: italic;
    margin-bottom: 8%;
}

iframe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3%;
    padding: 0.3rem;
    align-self: center;
    outline: 0.3rem solid #8019d4;
    width: 500px;
    height: 335px;
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
    .logo {
        margin-left: 30px;
        font-size: 2rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }

    .li_display a:hover {
        margin: 0px 0px;
        padding: 0px;
        background: none;
        /* background-color: #f477ff;
        color: #6111a1; */
        /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff; */
        border-bottom: none;
    }
    
    .li_display:hover, .li_display:focus, .li_display:active {
        margin: auto;
        /* background-color: #f477ff;
        color: #6111a1; */
        background-color: none;
        background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff;
        border-bottom: none;
        width: 100%;
    }
    
    .menu-btn {
        display: block;
        font-size: 2rem;
        margin-right: 30px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }

    .left {
        width: 80%;
    }

    h1 {
        font-size: 1.65rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    img {
        width: 9rem;
    }

    iframe {
        width: 400px;
        height: 268px;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    .logo {
        margin-left: 20px;
        font-size: 1.85rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }

    .menu-btn {
        display: block;
        font-size: 1.5rem;
        margin-right: 25px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }

    .left {
        width: 90%;
    }

    h1 {
        font-size: 1.55rem;
    }

    h2 {
        font-size: 1.05rem;
    }

    .quotes {
        font-size: 0.9rem;
    }

    img {
        width: 8rem;
    }

    iframe {
        width: 330px;
        height: 220px;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
    .logo {
        margin-left: 15px;
        font-size: 1.55rem;
    }
  
    .menu-btn {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    .quotes {
        font-size: 0.75rem;
    }

    .name {
        font-size: 1.1rem;
    }

    .profession {
        font-size: 0.9rem;
    }

    iframe {
        width: 250px;
        height: 170px;
    }
}