@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-image: linear-gradient(165deg, #79e4ff 10%, #b74ad8 40%, #6200b3 100%);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form-content {
    display: block;
    text-align: center;
    margin-top: 8%;
    width: 35rem;
    height: 28rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 7%;
}

.naslov_login {
    display: inline-block;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.35rem;
    text-align: center;
    padding: 1.75rem;
    margin-bottom: 5%;
}


form.border_form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.label_text {
    font-size: 1.1rem;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

input {
    border: none;
    display: flexbox;
    align-items: center;
    outline-style: solid;
    outline: 0.25rem solid #8019d4;
    background-color: white;
    width: 25rem;
    height: 2.5rem;
    margin-top: 3%;
    margin-bottom: 1.5%;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    -webkit-text-fill-color: #8d8d8d;
    letter-spacing: 0.125em;
    padding-left: 5%;
    z-index: 5;
}

div.form-row-2 {
    display: flexbox;
    margin: 0;
    padding: 0;
}

input#password::placeholder {
    display: flexbox;
    font-family: Verdana;
    font-size: 0.75rem;
    letter-spacing: 0.125em;
    z-index: 5;
}

input#password::placeholder-shown {
    display: flexbox;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.125em;
    z-index: 5;
}

i.material-icons {
    display: inline-flexbox;
    float: right;
    font-size: 24px;
    position: relative;
    vertical-align: middle;
    margin-top: -3.5rem;
    margin-right: 1rem;
    color: #202020;
    cursor: pointer;
    overflow: clip;
}

button {
    text-transform: uppercase;
    border-radius: 0.25rem;
    border: none;
    background: linear-gradient(0deg, #5f0fa0 0%, #8125cc 100%);
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.102),
    4px 4px 5px 0px #1a00221a;
    width: 12rem;
    height: 3.5rem;
    margin-top: 6%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #ffffff;
    outline: none;
    display: inline-block;
    margin-left: 6.25rem;
    text-align: center;
    justify-content: center;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 1;
    background: linear-gradient(0deg, #8125cc 0%, #5f0fa0 100%);
    color: #f693ff;
    box-shadow: none;
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
    div.form-content {
        margin-top: 10%;
        width: 31rem;
        height: 25rem;
        margin-bottom: 9%;
    }

    .naslov_login {
        font-size: 2.1rem;
        padding: 1.5rem;
        margin-bottom: 4%;
    }

    .label_text {
        font-size: 1rem;
    }

    input {
        outline: 0.25rem solid #8019d4;
        width: 22.5rem;
        height: 2.3rem;
        margin-bottom: 1.5%;
        margin-top: 3%;
        font-size: 0.85rem;
        letter-spacing: 0.1em;
        padding-left: 5%;
    }

    input#password::placeholder {
        font-size: 0.7rem;
        letter-spacing: 0.1em;
    }

    i.material-icons {
        font-size: 22px;
        margin-top: -3.35rem;
        margin-right: 0.5rem;
    }

    button {
        border-radius: 0.25rem;
        width: 11rem;
        height: 3rem;
        margin-top: 6%;
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        margin-left: 5.5rem;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    div.form-content {
        margin-top: 13%;
        width: 21rem;
        height: 17rem;
        margin-bottom: 12%;
    }

    .naslov_login {
        font-size: 1.65rem;
        padding: 0.8rem;
        margin-bottom: 2%;
    }

    .label_text {
        font-size: 0.8rem;
    }

    input {
        outline: 0.2rem solid #8019d4;
        width: 16rem;
        height: 2rem;
        margin-top: 2%;
        margin-bottom: 0.5%;
        font-size: 0.7rem;
        letter-spacing: 0.06em;
        padding-left: 5%;
    }

    input#password::placeholder {
        font-size: 0.6rem;
        letter-spacing: 0.075em;
    }

    i.material-icons {
        font-size: 19px;
        margin-top: -2.85rem;
        margin-right: 0.4rem;
    }

    button {
        border-radius: 0.2rem;
        width: 7rem;
        height: 2rem;
        margin-top: 2%;
        font-size: 1rem;
        letter-spacing: 0.075em;
        margin-left: 4.45rem;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
    div.form-content {
        margin-top: 13%;
        width: 15rem;
        height: 12.35rem;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        margin-bottom: 12%;
    }

    .naslov_login {
        font-size: 1.2rem;
        padding: 0.6rem;
        margin-bottom: 1%;
    }

    .label_text {
        font-size: 0.6rem;
    }

    input {
        outline: 0.15rem solid #8019d4;
        width: 12rem;
        height: 1.25rem;
        margin-top: 1%;
        margin-bottom: -5%;
        font-size: 0.55rem;
        letter-spacing: 0.03em;
        padding-left: 5%;
    }

    input#password::placeholder {
        font-size: 0.5rem;
        letter-spacing: 0.05em;
    }

    i.material-icons {
        font-size: 15px;
        margin-top: -2.1rem;
        margin-right: 0.3rem;
    }

    button {
        border-radius: 0.15rem;
        background: linear-gradient(0deg, #5f0fa0 0%, #8125cc 100%);
        box-shadow: inset 0px 1px 1px 0px #ecbbff80, 2px 2px 5px 0px rgba(26, 0, 34, 0.102),
        2px 2px 3px 0px #1a00221a;
        width: 5rem;
        height: 1.5rem;
        margin-top: 1%;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        margin-left: 3.5rem;
    }
}

