@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.main-nav {
    background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
    4px 4px 5px 0px #1a00221a;
    height: 80px;
    width: 100%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.25);
    line-height: 80px;
    font-size: 2.2rem;
    text-decoration: none;
    margin-left: 40px;
}

.ul_display {
    list-style: none;
    float: right;
    line-height: 80px;
    margin: 0;
    padding: 0;
}

.text_link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
    text-decoration: none;
    line-height: 80px;
}

.li_display {
    display: inline-block;
    margin: 0px 55px;
}

.li_display a:hover {
    margin: 0px -30px;
    padding: 30px;
    /* background-color: #f477ff;
    color: #6111a1; */
    background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
    color: #f477ff;
    border-bottom: none;
    max-width: 100%;
}

/* a[href='#'] {
    margin: 0px -30px;
    padding: 30px;
    transition: all 0.1s linear 0s; */
    /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%); */
    /* color: #f477ff; */
    /* border-bottom: 5px solid #f477ff; */
/*     text-decoration: underline;
    text-decoration-color: #f477ff;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 25%; */
/*     max-width: 100%;
} */

#check {
    display: none;
}

.menu-btn {
    font-size: 2rem;
    color: #f477ff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

main {
    display: block;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
}

.iframe-video-container {
    display: inline-block;
    align-content: center;
    justify-content: center;
    margin-bottom: 5%;
}

iframe {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin: 0.5rem;
    padding: 0.3rem;
    outline: 0.3rem solid #8019d4;
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
    .logo {
        margin-left: 30px;
        font-size: 2rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }

    .li_display a:hover {
        margin: 0px 0px;
        padding: 0px;
        background: none;
        /* background-color: #f477ff;
        color: #6111a1; */
        /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff; */
        border-bottom: none;
    }
    
    .li_display:hover, .li_display:focus, .li_display:active {
        margin: auto;
        /* background-color: #f477ff;
        color: #6111a1; */
        background-color: none;
        background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff;
        border-bottom: none;
        width: 100%;
    }
    
    .menu-btn {
        display: block;
        font-size: 2rem;
        margin-right: 30px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }

    iframe {
        width: 340px;
        height: 270px;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    .logo {
        margin-left: 20px;
        font-size: 1.75rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }
 
    .menu-btn {
        display: block;
        font-size: 1.75rem;
        margin-right: 25px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
    .logo {
        margin-left: 15px;
        font-size: 1.5rem;
    }
  
    .menu-btn {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    iframe {
        width: 250px;
        height: 170px;
    }
}