@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.main-nav {
    background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
    box-shadow: inset 0px 2px 2px 0px #ecbbff80, 5px 5px 10px 0px rgba(26, 0, 34, 0.1),
    4px 4px 5px 0px #1a00221a;
    height: 80px;
    width: 100%;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(24, 24, 24, 0.25);
    line-height: 80px;
    font-size: 2.2rem;
    text-decoration: none;
    margin-left: 40px;
}

.ul_display {
    list-style: none;
    float: right;
    line-height: 80px;
    margin: 0;
    padding: 0;
}

.text_link {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
    text-decoration: none;
    line-height: 80px;
}

.li_display {
    display: inline-block;
    margin: 0px 55px;
}

.li_display a:hover {
    margin: 0px -30px;
    padding: 30px;
    /* background-color: #f477ff;
    color: #6111a1; */
    background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
    color: #f477ff;
    border-bottom: none;
    max-width: 100%;
}

/* a[href='#'] {
    margin: 0px -30px;
    padding: 30px;
    transition: all 0.1s linear 0s; */
    /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%); */
    /* color: #f477ff; */
    /* border-bottom: 5px solid #f477ff; */
/*     text-decoration: underline;
    text-decoration-color: #f477ff;
    text-decoration-thickness: 0.15em;
    text-underline-offset: 25%; */
/*     max-width: 100%;
} */

#check {
    display: none;
}

.menu-btn {
    font-size: 2rem;
    color: #f477ff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

main {
    display: block;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-top: 4%;
}

h1 {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 1%;
}

h2 {
    display: inline-block;
    position: relative;
    align-self: left;
    color: #8b48c2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.15rem;
    margin-bottom: 5%;
}

hr {
    display: inline-block;
    position: relative;
    align-self: left;
    border: 0;
    height: 1px;
    background: #202020;
    background-image: linear-gradient(to right, #ccc, #202020, #ccc);
    width: 60%;
    margin-bottom: 2%;
}

.textbox {
    display: inline-block;
    position: relative;
    width: 75%;
    text-align: justify;
}

.paragraph {
    display: inline-block;
    position: relative;
    text-align: justify;
    color: #8d8d8d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 1rem;
    margin-bottom: 1%;
}

.bulletList {
    display: inline-block;
    position: relative;
    width: 80%;
    text-align: justify;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 1.5%;
    margin-left: 3rem;
    padding-left: 1.5rem;
}

li {
    content: "\2022";
    color: #202020;
}

li span {
    color: #8b48c2;
}

h3 {
    display: inline-block;
    position: relative;
    text-align: justify;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25rem;
    align-self: left;
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: #8019d4;
    border-radius: 0 10px 0 0;
}

.paragraphBox {
    display: inline-block;
    position: relative;
    text-align: justify;
    color: #8d8d8d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.4rem;
    border: 1px solid #202020;
    padding: 1rem;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: #8019d4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

/* //////////////////////////////////////////////////// */
/* Responsiveness */
@media screen and (max-width: 992px) {
    .logo {
        margin-left: 30px;
        font-size: 2rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }

    .li_display a:hover {
        margin: 0px 0px;
        padding: 0px;
        background: none;
        /* background-color: #f477ff;
        color: #6111a1; */
        /* background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff; */
        border-bottom: none;
    }
    
    .li_display:hover, .li_display:focus, .li_display:active {
        margin: auto;
        /* background-color: #f477ff;
        color: #6111a1; */
        background-color: none;
        background: linear-gradient(0deg, #6111a1 0%, #480e77 120%);
        color: #f477ff;
        border-bottom: none;
        width: 100%;
    }
    
    .menu-btn {
        display: block;
        font-size: 2rem;
        margin-right: 30px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }

    h1 {
        font-size: 1.65rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.15rem;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {
    .logo {
        margin-left: 20px;
        font-size: 1.75rem;
    }

    .ul_display {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: linear-gradient(0deg, #6513a8 0%, #873cc5 100%);
        z-index: 1;
    }

    .li_display {
        display: block;
    }

    .text_link {
        font-size: 1.1rem;
    }

    .menu-btn {
        display: block;
        font-size: 1.5rem;
        margin-right: 25px;
    }

    #check:checked ~ .ul_display {
        right: 0;
    }

    h1 {
        font-size: 1.55rem;
    }
    
    h2 {
        font-size: 1.05rem;
    }
    
    .paragraph {
        font-size: 0.95rem;
        line-height: 1.35rem;
    }
    
    .bulletList {
        font-size: 0.95rem;
        line-height: 1.55rem;
        margin-left: 1.5rem;
    }
    
    h3 {
        font-size: 1.15rem;
    }
    
    .paragraphBox {
        font-size: 0.95rem;
        line-height: 1.35rem;
    }

    a {
        font-size: 0.95rem;
    }
}

/* //////////////////////////////////////////////////// */
@media screen and (max-width: 360px) {
    .logo {
        margin-left: 15px;
        font-size: 1.5rem;
    }
  
    .menu-btn {
        font-size: 1.5rem;
        margin-right: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    .paragraph {
        font-size: 0.75rem;
        /* line-height: 1.15rem; */
    }
    
    .bulletList {
        font-size: 0.75rem;
        /* line-height: 1.25rem; */
        margin-left: 0.5rem;
    }
    
    h3 {
        font-size: 1.15rem;
    }
    
    .paragraphBox {
        font-size: 0.75rem;
        /* line-height: 1.15rem; */
    }

    a {
        font-size: 0.75rem;
    }
}